#reser {
    background: url('https://images.pexels.com/photos/279835/pexels-photo-279835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center / cover;
    height: 80vh;
    overflow: hidden;
    background-color: black;
    color: white;
    position: relative;

    #reser-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1 {
            font-size: 4rem;
            color: white;
            z-index: 1;

        }
    }

}

.btn {
    font-size: 1rem;
    padding: .3rem 1.2rem;
    color: white;
    background: black;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border: none;




}

.reser-out {
    margin: 3rem auto;


}

@media (max-width:750px) {
    .btn {
        width: 100%;
        letter-spacing: 7;
    }

    #reser-inner h1 {

        font-size: 3rem !important;

    }
}