.wine {
    background: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat center center / cover;
    height: 80vh;
    overflow: hidden;
    background-color: black;
    color: white;
    position: relative;

    .wine-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1 {
            font-size: 4rem;
            position: relative;
            z-index: 1;
            margin-bottom: 3rem;

        }
    }

}